:root {
  --colour--primary: #abc6d6;
  --colur--secondary: #b6ccda;
}

html {
  font-size: 62.5%;
}

/* Typography */

body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  font-size: 1.8rem;
  color: white;
  flex-wrap: wrap;
  overflow: visible;
}
h1 {
  font-size: 3.2rem;
  font-weight: 300;
  padding-left: 30px;
}

.bold {
  font-weight: bold;
}

a {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 6.4rem;
  }
}

/* icons */

.icon {
  height: 40px;
  width: 40px;
  padding: 33px 0 0 0;
}

.icon--primary {
  fill: white;
}

.icon--secondary {
  fill: var(--colur--secondary);
}

.icon__size {
  height: 30px;
  width: 30px;
}

.icon__side {
  padding: 0 15px;
}

.icon__side:hover {
  fill: #8fbad4;
}

@media screen and (min-width: 1024px) {
  .icon_social {
    display: flex;
    flex-direction: column;
  }
  .icon__side {
    padding-top: 30px;
  }
}
/* buttons */

.btn {
  font-weight: 500;
  font-size: 1.8rem;
  background: var(--colour--primary);
  color: white;
  height: 60px;
  width: 150px;
  border: 3px solid white;
  border-radius: 50px;
  margin-left: 22px;
}

.btn:hover {
  border: 3px solid rgb(173, 255, 241);
  background: #8fb2c4;
}

/* navgation-bar */

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0 10px;
  width: 95%;
}
.line {
  padding: 33px 5px 0 5px;
  height: 30px;
}

.nav_content {
  display: none;
}
.search_extend {
  display: none;
}

@media screen and (min-width: 1080px) {
  .nav__icon {
    display: none;
  }
  .nav_content {
    display: flex;
    margin-bottom: 15px;
    align-items: flex-end;
    padding-left: 0;
  }
  .nav__items {
    list-style-type: none;
    width: 100%;
    color: white;
    padding: 0 30px;
  }

  .nav__items:hover {
    background: white;
    color: var(--colour--primary);
    border-radius: 100px;
  }
  .search_input {
    border: 0;
    background: none;
    border-radius: 50px;
    outline: 0;
    padding-left: 5px;
  }
  .search_extend {
    display: flex;
    align-items: flex-end;
  }

  .search_boundary {
    display: flex;
    background: rgba(255, 255, 255, 0.27);
    border-radius: 50px;
    width: 295px;
    height: 42px;
    align-items: flex-end;
    padding: 0 0 5px 5px;
  }
  .img_s {
    height: 30px;
    padding-left: 20px;
  }
  .rest_nav {
    padding-bottom: 5px;
  }
}
/*Layout*/
.main {
  border-radius: 25px 0px 0px 25px;
  overflow: hidden;

  height: 850px;
  background: linear-gradient(294.28deg, #c8dce6 0%, #b6ccda 100%);
}

@media screen and (min-width: 1024px) {
  body {
    flex-direction: row-reverse;
    justify-content: left;
    flex-wrap: nowrap;
  }
  .main {
    height: 100vh;
    width: 100vw;
    min-height: 800px;
  }
}

/* heading */

.heading {
  padding: 15px 10px;
}

@media screen and (min-width: 1024px) {
  .heading_area {
    display: flex;
    flex-direction: column;

    padding-top: 50px;
  }
  .center {
    display: flex;
    justify-content: space-between;
  }
}

/* watches */

.Watches {
  display: flex;
  padding: 60px 30px 40px 15px;
  justify-content: center;
}

.main_watch {
  height: 300px;
}
.colorind {
  height: 120px;
  padding: 80px 0 80px 15px;
}

.main_watch_area {
  min-width: 350px;
}

.desktop_watches {
  display: none;
}

@media screen and (min-width: 1024px) {
  .Watches {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
  }
  .main_watch {
    width: 350px;
    height: 350px;
  }
  .main_watch_area {
    display: flex;
    align-items: center;
    padding-right: 50px;
  }
  .desktop_watches {
    display: flex;
    padding: 50px 0 0 15px;
    width: 415px;
    justify-content: space-between;
  }

  .colorind {
    height: 120px;
    padding: 0 0 0 0;
  }
}

/* footer */
.footer {
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  width: 96%;
}

@media screen and (min-width: 1024px) {
  .footer {
    flex-direction: column;
    max-width: 50px;
  }
  body {
    flex-direction: row-reverse;
    justify-content: left;
  }
}
