:root {
  --colour--primary: #abc6d6;
  --colur--secondary: #b6ccda;
}

html {
  font-size: 62.5%;
}

/* Typography */

body {
  font-family: Poppins, Arial, Helvetica, sans-serif;

  line-height: 1.5;
  font-size: 1.8rem;
  color: white;
  border-radius: 0px 0px 25px 25px;
}
.main {
  background: linear-gradient(294.28deg, #c8dce6 0%, #b6ccda 100%);
  border-radius: 0px 0px 25px 25px;
  overflow: hidden;
}
h1 {
  font-size: 3rem;
  font-weight: 300;
}

.bold {
  font-weight: bold;
}

a {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 6rem;
  }
}

/* icons */

.icon {
  height: 40px;
  width: 40px;
  padding: 33px 0 0 0;
}

.icon--primary {
  fill: white;
}

.icon--secondary {
  fill: var(--colur--secondary);
}

.icon__size {
  height: 25px;
  width: 25px;
}

.icon__side {
  padding: 0 15px;
}

/* buttons */

.btn {
  font-weight: 500;
  font-size: 1.8rem;
  background: var(--colour--primary);
  color: white;
  height: 60px;
  width: 150px;
  border: 3px solid white;
  border-radius: 50px;
}

.btn:hover {
  border: 3px solid rgb(173, 255, 241);
  background: #6fb3b2;
}

/* navgation-bar */

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10px;
}
.line {
  padding: 33px 5px 0 5px;
  height: 30px;
}
.nav__items {
  list-style-type: none;
  width: 100%;
}

/* footer */
.footer {
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}

.nav__items {
  color: var(--colour--primary);
}

/* heading */

.heading {
  padding: 15px 10px;
}

/* watches */

.Watches {
  display: flex;
  padding: 10px 5px 20px 15px;
}

.main_watch {
  height: 300px;
}
.colorind {
  height: 120px;
  padding: 80px 30px 80px 15px;
}

/* collapsible */
.collapsible__content {
  display: none;
}
